.header-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
}

.avg-life-exp-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.years {
  color: rgba(0, 0, 255, 0.5);
  font-weight: bold;
  font-size: 200px;
  height: 230px;
}

.years-label {
  text-align: center;
  font-size: 40px;
}
