<div className="CoronaVirus">
    <PageNavbar active="coronavirus" />

    <div className="container coronavirus-container">
      <div className="jumbotron">
        <div className="h5">Coronavirus</div>
        <p>Please select a country to view its case statistics.</p>
        <div className="countries-container">
          <div className="dropdown-container">
            <select value={this.state.selectedCountry} onChange={this.handleChange} className="dropdown" id="countriesDropdown">
                {this.state.countries}
            </select>
            <button className="submit-btn" id="countriesSubmitBtn" onClick={this.submitCountry}>Submit</button>
          </div>
        </div>
      </div>
      <div className="jumbotron">
        <div className="coronadata-container">
          <div className="coronadata-header">
            <div className="header"><strong>Date</strong></div>
            <div className="header"><strong>Confirmed</strong></div>
            <div className="header"><strong>Recovered</strong></div>
            <div className="header"><strong>Deaths</strong></div>
            <div className="header"><strong>Confirmed Globally</strong></div>
            <div className="header"><strong>Recovered Globally</strong></div>
            <div className="header"><strong>Deaths Globally</strong></div>
          </div>
          <div className="results-container" id="results">
            {this.state.data}
          </div>
        </div>
      </div>

<div>
      {this.state.selectedCountry !== "" && this.state.datasets && (

<Line
data={this.state}
options={{
    title:{
    display:true,
    text: this.state.selectedCountry + `'s Case Statistics`,
    fontSize:20
    },
    height: 50,
    width: 50,
    legend:{
    display:true,
    position:'right'
    },
    scales: {
        xAxes: [{
            type: 'time',
            ticks: {
                autoSkip: true,
                maxTicksLimit: 20
            }
        }]
        
    }
}}
/>
      )}
      
    </div>
    </div>
</div>